In [2]:
from sklearn import linear_model
import numpy as np
from sklearn import datasets
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [3]:
x_df = pd.read_csv('x_learn_explainer_btw.csv')

In [4]:
y_df = pd.read_csv('y_learn_explainer_btw.csv')

In [4]:
x_df

      Unnamed: 0  src  dst  id  importance  explainer  edge_btw
0             68    0   43   0         2.0   0.862306  0.008665
1            176    0   45   0         2.0   0.859999  0.008665
2            122    0   52   0         2.0   0.843732  0.008665
3             16    0   42   0         2.0   0.854050  0.000000
4            215    1   11   0         0.0   0.111897  0.017095
...          ...  ...  ...  ..         ...        ...       ...
3339        3319   18   16  40         0.0   0.940717  0.000000
3340        3320    7   16  40         0.0   0.155031  0.000000
3341        3321    5   16  40         0.0   0.084410  0.000000
3342        3341   15    2  40         0.0   0.000000  0.000000
3343        3343    8   10  40         0.0   0.000000  0.000000

[3344 rows x 7 columns]

In [5]:
y_df

    explainer  edge_btw
0       0.024     0.000
1       0.000     0.000
2       0.000     0.000
3       0.014     0.024
4       0.000     0.248
5       1.000     1.000
6       1.000     1.000
7       1.000     1.000
8       0.000     0.000
9       0.062     0.090
10      1.000     1.000
11      1.000     1.000
12      0.060     0.050
13      1.000     1.000
14      0.000     0.264
15      0.000     0.000
16      0.076     0.440
17      1.000     1.000
18      0.058     0.000
19      1.000     1.000
20      1.000     1.000
21      0.000     0.000
22      1.000     1.000
23      0.102     0.000
24      0.000     0.000
25      0.024     0.084
26      1.000     1.000
27      0.340     0.488
28      1.000     1.000
29      1.000     1.000
30      0.000     0.000
31      0.000     0.172
32      1.000     1.000
33      0.052     0.000
34      0.000     0.000
35      0.114     0.000
36      1.000     1.000
37      0.000     0.162
38      1.000     1.000
39      1.000     1.000
40      0.328     0.202

In [6]:
y_df.rename(columns={'explainer':'explainer_hitrate', 'edge_btw': 'edge_btw_hitrate'}, inplace = True)

In [7]:
y_df['id'] = y_df.index

In [9]:
x_y_df = x_df.merge(y_df, on = 'id')

In [10]:
x_y_df

,Unnamed: 0,src,dst,id,importance,explainer,edge_btw,explainer_hitrate,edge_btw_hitrate
0,68,0,43,0,2.0,0.862306,0.008665,0.024,0.000
1,176,0,45,0,2.0,0.859999,0.008665,0.024,0.000
2,122,0,52,0,2.0,0.843732,0.008665,0.024,0.000
3,16,0,42,0,2.0,0.854050,0.000000,0.024,0.000
4,215,1,11,0,0.0,0.111897,0.017095,0.024,0.000
...,...,...,...,...,...,...,...,...,...
3339,3319,18,16,40,0.0,0.940717,0.000000,0.328,0.202
3340,3320,7,16,40,0.0,0.155031,0.000000,0.328,0.202
3341,3321,5,16,40,0.0,0.084410,0.000000,0.328,0.202
3342,3341,15,2,40,0.0,0.000000,0.000000,0.328,0.202
3343,3343,8,10,40,0.0,0.000000,0.000000,0.328,0.202

In [15]:
x_y_df['max_hitrate'] = x_y_df[['explainer_hitrate', 'edge_btw_hitrate']].max(axis=1)

In [16]:
x_y_df

,Unnamed: 0,src,dst,id,importance,explainer,edge_btw,explainer_hitrate,edge_btw_hitrate,max_hitrate
0,68,0,43,0,2.0,0.862306,0.008665,0.024,0.000,0.024
1,176,0,45,0,2.0,0.859999,0.008665,0.024,0.000,0.024
2,122,0,52,0,2.0,0.843732,0.008665,0.024,0.000,0.024
3,16,0,42,0,2.0,0.854050,0.000000,0.024,0.000,0.024
4,215,1,11,0,0.0,0.111897,0.017095,0.024,0.000,0.024
...,...,...,...,...,...,...,...,...,...,...
3339,3319,18,16,40,0.0,0.940717,0.000000,0.328,0.202,0.328
3340,3320,7,16,40,0.0,0.155031,0.000000,0.328,0.202,0.328
3341,3321,5,16,40,0.0,0.084410,0.000000,0.328,0.202,0.328
3342,3341,15,2,40,0.0,0.000000,0.000000,0.328,0.202,0.328
3343,3343,8,10,40,0.0,0.000000,0.000000,0.328,0.202,0.328

In [17]:
x_y_df.to_csv('x_y_df_learn.csv')

In [18]:
cut = x_y_df[x_y_df.id < 21].shape[0]

In [19]:
cut

2172

In [20]:
x_y_df.iloc[2171]

Unnamed: 0           2099.000000
src                    18.000000
dst                    16.000000
id                     20.000000
importance              0.000000
explainer               0.108765
edge_btw                0.000000
explainer_hitrate       1.000000
edge_btw_hitrate        1.000000
max_hitrate             1.000000
Name: 2171, dtype: float64

In [21]:
x_y_df.iloc[2172]

Unnamed: 0           2182.000000
src                    19.000000
dst                    58.000000
id                     21.000000
importance              1.500000
explainer               0.134570
edge_btw                0.229106
explainer_hitrate       0.000000
edge_btw_hitrate        0.000000
max_hitrate             0.000000
Name: 2172, dtype: float64

In [22]:
X_train = x_y_df[['explainer', 'edge_btw']].to_numpy()[:cut]
X_test  = x_y_df[['explainer', 'edge_btw']].to_numpy()[cut:]
y_train = x_y_df[['max_hitrate']].to_numpy()[:cut]
y_test  = x_y_df[['max_hitrate']].to_numpy()[cut:]

In [23]:
X_train[-1]

array([0.10876532, 0.        ])

In [24]:
X_test[0]

array([0.1345698 , 0.22910579])

In [25]:
len(X_train)

2172

In [26]:
len(X_test)

1172

In [27]:
def PolynomialRegression(degree=2, **kwargs):
    return make_pipeline(PolynomialFeatures(degree), LinearRegression(**kwargs))

In [33]:
def avg_hitrate_train(y_true, y_pred):
    max_mean = np.mean(y_pred).max()
    return max_mean

In [52]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [55]:
param_grid = {'polynomialfeatures__degree': np.arange(10), 
              'linearregression__fit_intercept': [True, False], 'linearregression__normalize': [True, False]}
poly_grid = GridSearchCV(PolynomialRegression(), param_grid, 
                         #scoring=make_scorer(avg_hitrate_train, greater_is_better=True), 
                         scoring='neg_mean_squared_error',
                         n_jobs = -1,
                         verbose=3)

In [56]:
grid_result = poly_grid.fit(X_train, y_train)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)

Fitting 5 folds for each of 40 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Best Score:  316902.56719954626
Best Params:  {'linearregression__fit_intercept': True, 'linearregression__normalize': False, 'polynomialfeatures__degree': 9}

[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:    0.4s finished